@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #8b2727;
    --foreground: #a73232;
  }
}

body {
  color: var(--foreground);
  background: beige;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
